<!DOCTYPE html>
<html lang="{{ site.lang | default: 'en-US' }}">
  <head>
    <meta charset="UTF-8">
    <title>{{ page.title }}</title>
    <link rel="icon" href="https://github.com/startar-bronze/startar-bronze.github.io/blob/main/STARTARCOINS%20LOGO%202.png?raw=true">

    {% seo %}
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="preload" href="https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap" as="style" type="text/css" crossorigin>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#157878">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
    {% include head-custom.html %}
  </head>
  <body>
    <a id="skip-to-content" href="#content">Skip to the content.</a>

    <header class="page-header" role="banner">
      <!-- Logo de Startarcoins -->
      <img 
        src="https://github.com/startar-bronze/startar-bronze.github.io/blob/main/STARTARCOINS%20LOGO%202.png?raw=true" 
        alt="Startarcoins Logo" 
        style="display: block; margin: 0 auto; height: 120px; width: 120px; object-fit: contain;">
      <h1 class="project-name">STARTARCOINS</h1>
      <h2 class="project-tagline">A CRYPTO HUB</h2>
      <a href="https://startar-bronze.github.io/accueil.html" class="btn">ENTER/ENTRER</a>
    </header>

    <main id="content" class="main-content" role="main">
      {{ content }}
    </main>

    <footer class="site-footer">
      <span class="site-footer-credits">&copy; Startarcoins. Owned by Groupe Business Therapie {{ site.time | date: "%Y" }}.</span>
    </footer>
  </body>
</html>
