<!DOCTYPE html>
<html lang="{{ site.lang | default: 'en-US' }}">
  <head>
    <meta charset="UTF-8">
    <title>{{ page.title }}</title>
    <link rel="icon" href="https://fiverr-res.cloudinary.com/image/upload/t_collaboration_hd,q_auto,f_auto/v1/secured-attachments/requirement_answer/attachments/e06949ad6a3adea0cc58316c8f7d3298-1640334740390/8B6555E9-E28F-4F75-836B-F069320DE4D9.jpeg?__cld_token__=exp=1640474749~hmac=b9a8b84824b3a395f1afc7adaf04e7979a25b3d6bddc061f819628a01bb4bd12">

    {% seo %}
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="preload" href="https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap" as="style" type="text/css" crossorigin>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#157878">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
    {% include head-custom.html %}
  </head>
  <body>
    <a id="skip-to-content" href="#content">Skip to the content.</a>

    <header class="page-header" role="banner">
      <img src="https://github.com/user-attachments/assets/73dc2665-0f6c-404b-b555-3c4d827f23ce" alt="STRB LOGO" style="display: block; margin: 0 auto; height: 100px; width: 100px;">
      <h1 class="project-name">{{ page.title | default: site.title | default: site.github.repository_name }}</h1>
      <h2 class="project-tagline">{{ page.description | default: site.description | default: site.github.project_tagline }}</h2>
      <a href="https://tokpie.com/dashboard/make_request/strb-usdt/" class="btn">Buy now</a>
    </header>

    <main id="content" class="main-content" role="main">
      {{ content }}

      <footer class="site-footer">
        <span class="site-footer-credits">&copy Startarcoin. Owned by Groupe Business Therapie {{site.time | date: "%Y"}}.</span>
      </footer>
    </main>
  </body>
</html>
